html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
/*
.container {
  margin: 0;
  width: 100;
}*/

.site-header {
  flex: 0 1 50px;
  padding: 20px 0;
  background-color: black;
  color: white;
  display: none;
}

#game-container {
  flex: 1 1 auto;
  background-color: black;
}

#stage {
  position: absolute;
}

.site-footer {
  flex: 0 1 60px;
  background-color: black;
  color: white;
  display: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  .container {
    width: 600px;
  }
}
