<!doctype html>
<html lang="en">

<head>
	<title>Hello, world!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="app">

		<header class="site-header">
			<div class="container">
				<button class="btn" id="btn-reset">reset</button>
				<button class="btn" id="btn-intro">intro</button>
				<button class="btn" id="btn-splash">splash</button>
				<button class="btn" id="btn-demo">demo</button>
				<button class="btn" id="btn-play">play</button>
				<button class="btn" id="btn-pause">pause</button>
				<button class="btn" id="btn-game-over">game-over</button>
				<button class="btn" id="btn-instructions">instructions</button>
				<button class="btn" id="btn-scores">scores</button>
				<button class="btn" id="btn-about">about</button>
				<button class="btn" id="btn-credits">credits</button>
			</div>
		</header>

		<section id="game-container"></section>

		<footer class="site-footer">
			<div class="container"> footer </div>
		</footer>

	</div>

</body>

</html>
