<!doctype html>
<html lang="en">

<head>
	<title>Hello, world!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>
	@keyframes pulse{0%{color:rgb(129,146,129);opacity:0.5}80%{color:rgb(108,169,108);opacity:1}100%{color:rgb(90,99,90);opacity:0.8}}
	body{margin:0;padding:0;background:black;font-family:Helvetica,Helvetica,sans-serif;}
	#loading{position:absolute;display:flex;align-items:center;justify-content:center;width:100vw;height:100vh;font-size:25px;text-shadow:0px 0px 5px rgba(255,255,255,0.5);animation:pulse 1.5s infinite;}
	.app{position:relative;background:black;}
	</style>
</head>

<body>
	<div id="loading">loading</div>
	<div class="app">
		<section id="game-container"></section>
	</div>
</body>

</html>
